APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=
ASSET_URL=

LOG_CHANNEL=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=
CACHE_DRIVER=
QUEUE_CONNECTION=
SESSION_DRIVER=
SESSION_LIFETIME=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
# MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

ADMIN_EMAIL=
ADMIN_PASS=
DEFAULT_PASS=

STRIPE_KEY=
STRIPE_SECRET=
CASHIER_MODEL=
CASHIER_CURRENCY=
CASHIER_LOGGER=

STRIPE_PRICE_ID=
STRIPE_PRODUCT_ID=

SUGGEST_CATEGORY_ICON=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

APP_ORDER_EMAIL=
